.button {
    border: red;
}

.formcontainer {
    margin: 5%;
    margin-bottom: 0%;
}

h6 {
    margin-top: 100px;
    color:rgb(98, 99, 104);
  }

.submitbuttondiv {
    margin: 10px;
    display: flex;
    align-self: center;
    align-items: center;
    margin-bottom: 0px;


}

.submitbutton {
    margin-left: 45%;
    margin-top: 2%;

    align-self: center;
    align-content: center;


}