.break{
    min-width:10px;
    max-width:50px;
}
.holderloginbuttons {
    align-items: center;
}

.loginbuttons{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.login {
    padding:10%;
}
.headerlogin{
    display:flex;
    align-items: center;
    margin-left:43%
}
h4 {
    align-self: center;
    
}
