.createitembutton {
    margin-left: 47%;

}
.newitembuttondiv {
    margin-top: 15px;

}


.locationheader {
    color:rgb(98, 99, 104);
}

.newitembutton {
    width: 150px;
    margin-left: 44%;
}

.packinglist {
    margin-left: 3%;
    margin-right: 4%;
    border-style: solid;
    border-color: indianred;
    background-color: white;
    padding: 2%;
}

.Summarybody {
    margin-left: 3%;
    height: 100vh;
}



@media screen and (max-width: 900px) {
    .newitembutton {
        width: 150px;
        margin-left: 27%;
    }
}