
.tripgroupbutton {
    width: 700px;
    background-color:white;
    margin-bottom: 10px;
    
}

#tripbutton {
    margin-bottom: 0px;

}
.triplocation {
    margin-left:3%;
}
@media screen and (max-width: 900px) {
    .tripgroupbutton {
        width: 300px;
        background-color:white;
        margin-bottom: 10px;
    }

}
